
@media (max-width: 990px) {
    .row {
      display: flex;
      flex-direction: column;
    }
  
    .col-12 {
      width: 100% !important;
    }
  }
.linha-divisoria-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 20px auto;
}

.linha-divisoria {
    border-top: 7px solid rgb(187, 187, 187);
    width: 100%;
    border-radius: 5px;
}

.espaco {
    width: 3%;
}

.linha-divisoria2 {
    border-top: 6px solid rgb(179, 179, 179);
    width: 100%;
    border-radius: 5px;
}

 .zoom-effect {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: auto;
}

.img-zoom {
  transition: transform 0.3s ease-in-out;
}

.img-zoom:hover {
  transform: scale(1.1);
}

.font{
  font-weight: 500;
}

.hover-text:hover {
  color: rgb(155, 155, 155);
}

.black{
  color: black;
}


.medium-weight {
  font-weight: 400;
}


.mt-10{
  margin-top: 40px;
}
